body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  align-items: center; /* Center content horizontally */
  justify-content: flex-end; /* Align content to the bottom */
}
.numberButton {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  height: 50px;
  width: 50px;
  margin: 2px 5px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: silver;
  font-weight: bold;
  vertical-align: top;
}
.green {
  color: green;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.fuchsia {
  background-color: fuchsia;
}
.lime {
  background-color: lime;
}
.yellow {
  background-color: yellow;
  color: silver;
}
.blue {
  background-color: blue;
}
.aqua {
  background-color: aqua;
}
.black {
  background-color: black;
}
/* Your existing CSS styles */
.slot {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.temp {
  display: flex;
  align-items: flex-end;
}

.left_temp {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 5px;
}
/* Add styles for current target slot */
.slot.current {
  border: 1px solid red;
}
main.output {
  font-size: 50px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; /* Align items from top to bottom */
  width: 100%;
  max-width: 800px;
}
td {
  border: 1px dashed black;
}
table {
  border-collapse: collapse;
}
.right_temp {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
}
pre {
  margin: 0;
}
footer {
  align-self: flex-start; /* Align to the bottom left */
}
div#inputContainer {
  align-self: center; /* Center horizontally */
}
p {
  margin: 5px;
}
