body {
  background-color: #303030;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: flex-end; /* Align content to the bottom */
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
}
.rightHint {
  color: green;
}
.numberButton {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  height: 50px;
  width: 50px;
  margin: 2px 5px;
  padding: 0;
  border: 3px;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  background-color: silver;
  font-weight: bold;
  vertical-align: middle;
}
.green {
  color: green;
  border-color: green;
}
.white {
  color: white;
  border-color: white;
}
.red {
  color: red;
  border-color: red;
}
.purple {
  color: purple;
  border-color: purple;
}
.fuchsia {
  color: fuchsia;
  border-color: fuchsia;
}
.lime {
  color: lime;
  border-color: lime;
}
.yellow {
  color: yellow;
  border-color: yellow;
}
.blue {
  color: blue;
  border-color: blue;
}
.aqua {
  color: aqua;
  border-color: aqua;
}
.black {
  /* background-color: silver; */
  color: black;
  border-color: black;
}
.disabled {
  color: darkgrey;
  border-color: darkgrey;
}
.slot {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  vertical-align: middle;
}
.temp {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
#left_temp {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 5px;
}
/* Add styles for current target slot */
.slot.current {
  border: 2px solid lime;
}
main {
  overflow-y: auto; /* Use 'auto' to display scrollbar only when needed */
  flex: 1; /* Occupy available space within the output section */
  display: flex;
  flex-direction: column; /* Align items from top to bottom */
}
main.dashboard {
  flex-direction: row; /* Align items from top to bottom */
}
td,
th {
  border: 1px dashed white;
  vertical-align: middle;
}
th {
  font-weight: bold;
  text-decoration: underline;
}
td:first-child {
  text-align: center;
}
td.large {
  font-size: large;
}
table {
  border-collapse: collapse;
  font-size: medium;
}
#population {
  border-collapse: collapse;
  font-size: small;
}
#right_temp {
  display: flex;
  flex-direction: row; /* Aligns children horizontally */
  align-items: center; /* Centers content horizontally */
}
#enter {
  display: flex;
  flex-direction: row; /* Aligns children horizontally */
  align-items: center; /* Centers content horizontally */
}
#enterLeft {
  text-align: left;
  margin-right: 3px;
}
#enterRight {
  margin-left: 3px;
  font-size: 30px;
}
pre {
  margin: 0;
}
footer {
  align-self: flex-start; /* Align to the bottom left */
  flex-shrink: 0; /* Prevents shrinking when the main section is scrolled */
}
div#inputContainer {
  align-self: center; /* Center horizontally */
}
p {
  margin: 5px;
}
.title {
  margin-top: 5px;
  margin-bottom: 5px;
}
header {
  font-size: 5px;
  flex-shrink: 0; /* Prevents shrinking when the main section is scrolled */
  white-space: pre-wrap; /* This keeps the preformatted text look but allows wrapping */
  word-wrap: break-word; /* Ensure long words don't overflow */
}
/*credit page*/
figure figcaption {
  text-align: center;
}
.icons {
  width: 80px;
  height: 80px;
  flex: 4;
}
#flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#query {
  float: right;
}
/* Desktop styles (default) */
.overlay {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  right: auto;
  top: 0px; /* Align the top of the overlay with the top of the window */
  left: 0px; /* Align the overlay's left border with the left edge of the window */
  max-height: 100vh; /* Overlay won't grow larger than the viewport height */
  overflow-y: auto; /* Enable scrolling when content exceeds the height */
  width: auto; /* Ensure the width is automatically calculated */
}
.overlay-visible {
  display: block; /* Show overlay when visible */
}
/* Mobile styles (phones, smaller screens) */
@media (max-width: 768px) {
  .overlay {
    top: 0;
    bottom: auto; /* Remove any influence of desktop styles */
    left: 0;
    right: 0; /* Ensure the overlay spans the full width of the screen */
    height: auto; /* Let height adjust automatically */
    max-width: 100vw; /* Overlay shouldn't exceed the viewport width */
  }
}

ul {
  padding-inline-start: 10px;
}
